.dy-content {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
    z-index: 9999;
}

.scroller {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

$scrollTime: 120s;
@for $i from 1 through 24 {
    .scroller.is-animating {
        div:nth-child(#{$i}) {
            animation: scroller-#{$i} $scrollTime linear infinite;
        }
    }

    $t1: calc(-5% * (#{$i} - 1));
    $t2: calc(-50% - (5% * #{$i}));

    @keyframes scroller-#{$i} {
        from {
            transform: translate3d($t1, 0, 0);
        }
        to {
            transform: translate3d($t2, 0, 0);
        }
    }
}
